body {
    font-family: Arial, Helvetica, sans-serif;
    color: #023047;
    background-color: #f8f9fa;
    padding: 0px;
    margin: 0px;
}

header{
    color: #FFF;
    background: #219ebc;
    text-align: center;
    font-size: 30px;
    padding: 25px;
    font-weight: 900;
    display:flex;
    justify-content:space-between;
    border-radius: 15px;
}

a {
    color: white;
    text-decoration: none;

}

.carrusel { 
    display:flex;
    justify-content: space-around;
}

footer{
    margin-top: 100px;
    background-color: #219ebc;
    color: #FFF;
    padding: 38px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.galeria img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}