body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

header {
    background-color: #007C8A;
    color: white;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2em;
}

main {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin: 5px 0 2px 30px;
    font-size: 0.9em;
    color: #007C8A;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #0099a8;
    border-radius: 5px;
    font-size: 1em;
}


.btn-registrarse {
    background: white;
    border: 2px solid red;
}

.btn-regresar {
    background: white;
    border: 2px solid orange;
}

footer {
    background-color: #007C8A;
    text-align: center;
    padding: 15px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer i {
    font-size: 2em;
    color: white;
    margin: 0 15px;
    vertical-align: middle;
    transition: color 0.2s;
}

footer i:hover {
    color: orange;
}
