body {
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: blueviolet;
    margin-bottom: 0px;
    color: white;
    padding: 3px;
    text-align: center;
}

h2 {
    font-size: 40px;
}

h3 {
    margin-top: 5px;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}

.menu {
    border: solid rgb(194, 103, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 45px;
    height: 350px; 
    box-sizing: border-box;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 8px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 145, 0);
    width: 10rem;
    margin-top: 10px;
}

label {
    font-size: 20px;
}

input {
    background-color: rgb(220, 182, 255);
    border-style: none;
    margin: 10px;
}

footer {
    background-color: blueviolet;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.h3Profile {
    font-size: 40px;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icons {
    width: 50px;
    height: auto;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 10px;
    align-items: center;
}

.options {
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    align-items: center;
}

.options h5 {
    margin: 20px;
}

.options a {
    color: white;
    border: none;
    width: auto;
}

.characteristics {
    display: flex;
    margin: 30px;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: solid rgb(194, 103, 255);
}

.topnavProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    
}

.imgProfile {
    width: 180px;
    height: 180px;
    margin: 5px;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    border: solid rgb(194, 103, 255);
    width: 25rem;
    height: auto;
    margin: 50px;
    border-radius: 10px;

}