*{
padding:0%;
margin: 0%;
}

header{
font-family: 'Courier New';;
background-color: rgb(21, 119, 126);
color: white;
padding: 50px 0px 50px 0px;
justify-content: center;
font-size: 20px;
display: flex;
gap: 60px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    font-family: 'Courier New';
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.perfil{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.perfil p{
    text-align: center;
    font-family: 'Courier New';
    font-size: 18px;
    margin-left: 50px;
    
}

main h2 {
    text-align: center;
    font-family: 'Courier New';
    color: rgb(23, 52, 54);
}

.perfilbox {
    position: relative;
    left: 30%;
    display: flex;
    margin-top: 20px;
    width: 40%;
    border: solid;
    border-radius: 10px;
    padding: 20px 0px 40px 0px;
}

.statics {
    justify-content: center;
    padding: 50px 10px 10px 40px;
    font-family: 'Courier New';
    font-size: 18px;
}

.statics p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.publicaciones {
    padding: 40px 550px 150px 550px;
}
.imagenes {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
}

.imagenes img {
    width: 400px;
    height: 350px;
}

footer{
position: absolute;
width: 100%;
text-align: center;
font: sans-serif;
background-color:rgb(21, 119, 126);
color: white;
padding: 30px 0px 30px 0px;
font-size: 20px;
justify-content: space-between;
}

footer div{
display: inline;
text-align: center;
}

footer div img{width: 50px;}